body {
	margin: 0;
	padding: 0;
	background: #0f244f;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

div.transaction-loading {
	margin: 0 auto;
	width: 123px;
}
div.transaction-loading img {
	position: absolute;
}

.add-section div input {
	padding: 4px;
}

.add-section {
	width: 610px;
	margin: 40px auto;
}

.add-btn {
	float: right;
	padding: 6px 24px;
}

div.list-title {
	margin: 20px auto;
	width: 610px;
}

.list {
	width: 610px;
	margin: 0 auto;
}

.address {
	width: 66%;
	padding: 4px;
}

input:focus,
.ReactTable .rt-resizer:focus,
.ReactTable .rt-thead .rt-resizable-header:focus {
	outline: none;
}

ul {
	list-style-type: none;
}

.names {
	width: 30%;
	display: inline-block;
}

.address {
	width: 68%;
	display: inline-block;
}

/* Table styles */
.ReactTable .-pagination {
}
.rt-td {
	text-align: center;
}

#node {
	padding: 4px 10px;
	text-align: center;
	width: 200px;
}
button {
	transition: all 0.3s ease;
	border-color: #d2d1d1;
	border-radius: 3px;
}
button:focus {
	outline: none;
}
button:hover {
	background: #7396ad;
	color: #fff;
}
button:disabled:hover {
	background: #fff;
	color: rgb(127, 127, 127);
}
#logo {
	width: 200px;
	display: inline-block;
}
.nav {
	background: #0f244f;
	padding: 45px 0;
}
.nav-tabs {
	display: inline-block;
	float: right;
}
.link,
.active {
	transition: all 0.2s ease;
	padding: 10px 25px;
	text-decoration: none;
	background: #13224e;
	display: inline-block;
	font-weight: 600;
	border-bottom: 2px solid;
	border-image: radial-gradient(#10234f, #10234f);
	border-image-slice: 1;
}
.link {
	color: #9091a5;
}
.link:hover,
.active {
	color: #fff;
}

.active {
	border-image: radial-gradient(#fff 24%, #10234f 90%);
	border-image-slice: 1;
	color: #fff;
}

.demos {
	width: 70%;
	margin: 0 auto;
}
.active-users .remove-btn {
	margin: 0;
}

.active-users {
	width: 685px;
	margin-right: 50px;
	display: inline-block;
	text-align: center;
}

.add-user {
	width: 465px;
	display: inline-block;
	text-align: center;
	float: right;
}

.users,
.observers {
	margin: 40px 0;
}

.add-user input {
	width: 40%;
	display: inline-block;
	float: right;
	text-align: center;
	margin: 5px 0;
	padding: 5px 2px;
	border-radius: 3px;
	border: 1px solid #bbb3b3;
}

label {
	width: 50%;
	display: inline-block;
	text-align: left;
	margin: 5px 0;
	padding: 4px 0;
}

.add-user-bth {
	display: block;
	padding: 5px 70px;
	float: right;
	margin: 2px 0;
	border-color: #d8cfcf;
}
.button-add {
	width: 100%;
	display: flow-root;
}
.ReactTable .rt-tbody .rt-td {
	height: 37px;
}

.close {
	position: absolute;
	padding: 1px 14px;
	font-size: 34px;
	font-weight: 700;
	right: 0;
	top: 0;
	cursor: pointer;
}
.error {
	opacity: 0;
}
.active-error {
	opacity: 1;
	color: #e00a0a;
}

.error-main {
	display: block;
	margin-top: 45px;
}

#error-logo {
	width: 422px;
	display: block;
	margin: 15px auto;
}
.error-content {
	padding: 40px 0;
	font-size: 34px;
	text-align: center;
	color: #d08a00;
	font-weight: 600;
	line-height: 51px;
}
a {
	color: #d08a00;
	cursor: pointer;
}
#warning-logo {
	width: 60px;
	display: block;
	margin: 47px auto 0;
}
.loading-contract {
	display: block;
	margin: 300px auto;
}
